<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ralit.ofutonreading"
    android:versionCode="4"
    android:versionName="alpha-2.1" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ofuton_app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ralit.ofutonreading.MainActivity"
            android:label="@string/ofuton_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ralit.ofutonreading.ReadingActivity"
            android:label="@string/title_activity_reading"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.ralit.ofutonreading.MarkedListActivity"
            android:label="@string/title_activity_marked_list"
            android:parentActivityName="org.ralit.ofutonreading.ReadingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ralit.ofutonreading.ReadingActivity" />
        </activity>
    </application>

</manifest>
